attrs==19.3.0
backcall==0.1.0
bleach==3.1.4
blinker==1.4
decorator==4.4.2
defusedxml==0.6.0
docutils==0.16
entrypoints==0.3
feedgenerator==1.9
ghp-import==0.5.5
greenlet==0.4.15
ipython==7.13.0
ipython-genutils==0.2.0
jedi==0.17.0
Jinja2==2.11.1
jsonschema==3.2.0
jupyter-core==4.6.3
Markdown==3.2.dev0
markdown-katex==202001.13b0
MarkupSafe==1.1.1
mistune==0.8.4
msgpack==1.0.0
nbconvert==5.6.1
nbformat==5.0.6
pandocfilters==1.4.2
parso==0.7.0
pathlib2==2.3.5
pelican==4.2.0
pexpect==4.8.0
pickleshare==0.7.5
prompt-toolkit==3.0.5
ptyprocess==0.6.0
Pygments==2.5.2
pynvim==0.4.1
pyrsistent==0.16.0
python-dateutil==2.8.1
pytz==2019.3
six==1.14.0
testpath==0.4.4
traitlets==4.3.3
Unidecode==1.1.1
wcwidth==0.1.9
webencodings==0.5.1
